
body{
    height: 100%;
    overflow: hidden;
   }

       
    
 



body, html {
    
    
    height: 100vh;
    padding: 0px;
    align-items: center;
    justify-content: center;
    font-family: montserrat,sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}
    
.navigation-container{
    position: relative;
    max-width: 100%;
    padding: 10px;
    margin: 20px 30px;
    box-sizing: border-box;
    background-color: transparent;}

    .logo {
      color: white;
      height: 40px;
      font-size: 18px;
      line-height: 60px;
      padding: 0px 20px;
      text-align: center;
      box-sizing: border-box;
      float:left;
      font-weight: 700;
      text-decoration: none;
    }


.menu {
    float: right;
    }

.fix{
    clear:both;}

.menu ul{
    margin: 0px;
    padding: 0px 10px;
    display: flex;}

.menu ul li {
    list-style: none;
}

.menu ul li a{
    display: block;
    margin: 0px 0px;
    padding: 0px 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    color: white;
    transition: all .5s;
    
}

.menu ul li a:hover {
    color: red;
    font-size: 13px;}


   

 

#para{
    font-weight: bolder;
    margin: 0px;
    color: whitesmoke;
    font-size: 12px;
    } 

 #header2{
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.5px;
    margin: 10px 0px 40px;
    color: whitesmoke;
    font-weight: lighter;}

    #para1{
        font-weight: lighter;
        margin: 0px;
        color: white;
        font-size: 12px;
      
        } 
    
     #header1{
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 0.5px;
        margin: 10px 0px 40px;
        font-weight: lighter;
        color: white;
        }



    

       
        


  .text {
         
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-wrap: wrap;
          position: absolute;
          top: 40%;
          left: 30%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          }  

          .text {
            width: 300px;
            height: 300px;
            
        }


          .fade-in-text {
           
            padding: 0;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            position: absolute;
            top: 40%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            }


            .fade-in-text {
                width: 500px;
                height: 500px;
               }   
           
           a {
        text-decoration: none;
        color: inherit;}

    .social {
        margin: 0;
        position: absolute;
        top: 85%;
        left: 2%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        }

        .social ul li {
            list-style: none;
            display: flex;
        }
        
        .social ul li a{text-decoration: none;
                        color:white;
                      transition: all .5s;
                    line-height: 30px;
                    }

   
       
    .social i {
        padding: 20px 20px;
        font-size: 20px;
        }

    .fa-instagram:hover,
    .fa-linkedin:hover {
        color: red;
        font-size:25px;
        transition: all .5s
        
        }
  
   

       

       
       



              
        

    


                .image{
                  display: block;
                  margin-left:auto;
                  margin-right: auto;
                  width: 30%;
                  height: 600px;
                  top: 100px;
                  opacity: 0.5;
                  position: relative;
                  
                  }

                

                  
                   
           


            

            .fade-in1 {
                animation: fadeIn ease 7s;
                -webkit-animation: fadeIn ease 7s;
                -moz-animation: fadeIn ease 7s;
                -o-animation: fadeIn ease 7s;
                -ms-animation: fadeIn ease 7s;
                
                
                }

              @keyframes fadeIn {
                0% {opacity:0;}
                100% {opacity:1;}
              }
              
              @-moz-keyframes fadeIn {
                0% {opacity:0;}
                100% {opacity:1;}
              }
              
              @-webkit-keyframes fadeIn {
                0% {opacity:0;}
                100% {opacity:1;}
              }
              
              @-o-keyframes fadeIn {
                0% {opacity:0;}
                100% {opacity:1;}
              }
              
             
              


              .fade-in2  {
                animation: fadeIn ease 7s;
                -webkit-animation: fadeIn ease 7s;
                -moz-animation: fadeIn ease 7s;
                -o-animation: fadeIn ease 7s;
                -ms-animation: fadeIn ease 7s;
                
                }

              @keyframes fadeIn {
                0% {opacity:0;}
                100% {opacity:1;}
              }
              
              @-moz-keyframes fadeIn {
                0% {opacity:0;}
                100% {opacity:1;}
              }
              
              @-webkit-keyframes fadeIn {
                0% {opacity:0;}
                100% {opacity:1;}
              }
              
              @-o-keyframes fadeIn {
                0% {opacity:0;}
                100% {opacity:1;}
              }
              

              .layer{
                animation: fadeIn ease 10s;
                -webkit-animation: fadeIn ease 10s;
                -moz-animation: fadeIn ease 10s;
                -o-animation: fadeIn ease 10s;
                -ms-animation: fadeIn ease 10s;
                
                
                }

              @keyframes fadeIn {
                0% {opacity:0;}
                100% {opacity:1;}
              }
              
              @-moz-keyframes fadeIn {
                0% {opacity:0;}
                100% {opacity:1;}
              }
              
              @-webkit-keyframes fadeIn {
                0% {opacity:0;}
                100% {opacity:1;}
              }
              
              @-o-keyframes fadeIn {
                0% {opacity:0;}
                100% {opacity:1;}
              }


         


               
              .fade-in-text {
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 60px;
                animation: fadeIn 10s;
                -webkit-animation: fadeIn 10s;
                -moz-animation: fadeIn 10s;
                -o-animation: fadeIn 10s;
                -ms-animation: fadeIn 10s;
              }
              
              @keyframes fadeIn {
                0% { opacity: 0; }
                100% { opacity: 1; }
              }
              
              @-moz-keyframes fadeIn {
                0% { opacity: 0; }
                100% { opacity: 1; }
              }
              
              @-webkit-keyframes fadeIn {
                0% { opacity: 0; }
                100% { opacity: 1; }
              }
              
              @-o-keyframes fadeIn {
                0% { opacity: 0; }
                100% { opacity: 1; }
              }
              
              @-ms-keyframes fadeIn {
                0% { opacity: 0; }
                100% { opacity: 1; }
              }


.work-list{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 200px;
  ;
  
}

.work {
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  opacity: 0.5;}

  .work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transfrom 0.5s;
    ;
  }

  .layer{
    width: 100%;
    height: 0%;
    border-radius: 10px;
    position:absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    background: linear-gradient(to top, transparent 0%, grey 0%,transparent 100%);
  
  }



  
  
  

  .layer h3{
    font-weight: 300;
    margin-bottom: 5%;
    margin-right:50px;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    color:white;

  }

  .layer p{
    font-weight: 300;
    margin-bottom: 20px;
    margin-right: 50px;
    color: white;
    text-align: center;
    justify-content: center;
    font-weight: 700;
 }

  .layer a{
    margin-top: 20px;
    color:red;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    margin-right: 50px;
    transition: all .5s

  }

  .work:hover img{
    transform: scale(1.1);
    
  } 

  .work:hover .layer{
  height: 100%}





.body3{
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
}


form {
  margin:auto;
  margin-top: 10%;
}

form{
width: 90%;
max-width: 600px;
}

.input-group{
 margin-bottom: 30px;
 position: relative;
}

input, textarea{
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #fff;
  background: transparent;
  font-size: 15px;
}
  
label{
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: #fff;
  cursor: text;
  transition: 0.2ds;
}

button{
  padding: 10px 0;
  color: #fff;
  outline: none;
  background: transparent;
  border: 1px solid #fff;
  width: 100%;
  cursor: pointer;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
  top: -35px;
  font-size: 14px;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.row .input-group{
  flex-basis: 48%;
}